/* Reset CSS */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth; /* Rolagem suave */
  -webkit-text-size-adjust: 100%; /* Evita zoom automático em dispositivos iOS */
}

body {
  line-height: 1.5;
  font-family: sans-serif; /* Altere para sua fonte preferida */
  background-color: #fff; /* Cor de fundo padrão */
  color: #000; /* Cor de texto padrão */
  -webkit-font-smoothing: antialiased; /* Suavização de fontes para navegadores WebKit */
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit; /* Herda a fonte do elemento pai */
}

button {
  border: none;
  background: none;
  cursor: pointer;
}

a {
  text-decoration: none;
  color: inherit;
}

ul,
ol {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

fieldset {
  border: none;
  margin: 0;
  padding: 0;
}

blockquote,
q {
  quotes: none;
}

blockquote::before,
blockquote::after,
q::before,
q::after {
  content: '';
}
